{% extends "base.html" %}
{% block content %}
    <div class="border-3">
        <p>Classifier Summary</p>
        <p>Model: {{ results.config.name }}</p>
        <p>Trained on: {{ results.config.origin }} data</p>
        {% if results.config.is_ngram %}
        <div>
            <p>{{ results.config.n }}-gram</p>
        </div>
        {% endif %}
        <div>
            <h4>Options:</h4>
            <ul>
                {% for opt in results.config["extra_opts"] %}
                    <li>
                        {{ opt.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}